Repository axelarnetwork/axelar-contract-deployments, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axelarnetwork/chainintegrations, @axelarnetwork/protocol, @axelarnetwork/security

chore: redeploy MonadAxelarTransceiver v2.0.0 (#1015)
  axelar-chains-config/info/testnet.json
  evm/deploy-contract.js
  releases/evm/2025-08-Monad-Transceiver-v2.0.0.md
Owners: @axelarnetwork/chainintegrations

fix: add missing import
  cosmwasm/utils.js
Owners: @axelarnetwork/chainintegrations

removed rpc
  releases/evm/2025-09-Memento-GMP-v6.0.6.md
Owners: @axelarnetwork/chainintegrations

test: add sui-7 temporarily on devnet-amplifier
  axelar-chains-config/info/devnet-amplifier.json
Owners: @axelarnetwork/chainintegrations

chore: solana MultisigProver upgrade test (#929)
  axelar-chains-config/info/devnet-amplifier.json
  releases/cosmwasm/2025-08-SolanaMultisigProver-v0.2.0.md
Owners: @axelarnetwork/chainintegrations

Retire squid package from sui deployment scripts
  sui/deploy-contract.js
  sui/utils/utils.js
Owners: @axelarnetwork/chainintegrations

fix: instantiate-chain-contracts options
  cosmwasm/submit-proposal.js
  cosmwasm/utils.js
Owners: @axelarnetwork/chainintegrations

feat: query prover for chain-codec address
  cosmwasm/query.js
Owners: @axelarnetwork/chainintegrations

feat: update release template
  releases/cosmwasm/EVM-CosmWasm-Release-Template.md
Owners: @axelarnetwork/chainintegrations

Update test-stellar.yaml
  .github/workflows/test-stellar.yaml
Owners: @axelarnetwork/chainintegrations

chore(stellar): use deploy contract instead of create custom token (#1014)
  .github/workflows/test-stellar.yaml
  stellar/README.md
  stellar/deploy-contract/commands.js
  stellar/deploy-contract/processors.js
  stellar/docs/link-token.md
  stellar/its.js
Owners: @axelarnetwork/chainintegrations

feat: add command to prepare config for chain-codec deployment
  cosmwasm/chain-codec.ts
Owners: @axelarnetwork/chainintegrations

refactor(stellar): use deploy contract instead of create custom token
  .github/workflows/test-stellar.yaml
  stellar/README.md
  stellar/deploy-contract/processors.js
  stellar/docs/link-token.md
Owners: @axelarnetwork/chainintegrations

Update stellar/README.md
  stellar/README.md
Owners: @axelarnetwork/chainintegrations

update
  stellar/deploy-contract/commands.js
  stellar/deploy-contract/processors.js
Owners: @axelarnetwork/chainintegrations

Update test-stellar.yaml
  .github/workflows/test-stellar.yaml
Owners: @axelarnetwork/chainintegrations

Update test-stellar.yaml
  .github/workflows/test-stellar.yaml
Owners: @axelarnetwork/chainintegrations

refactor(sui): retire squid from contract deployment options (#1016)
  sui/deploy-contract.js
  sui/utils/utils.js
Owners: @axelarnetwork/chainintegrations

update release doc
  releases/cosmwasm/2025-05-Monad-GMP-v6.0.4.md
Owners: @axelarnetwork/chainintegrations

chore(devnet-amplifier): remove hedera-2 config
  axelar-chains-config/info/devnet-amplifier.json
Owners: @axelarnetwork/chainintegrations

update to remove old storeCodeProposalId and keep newest
  axelar-chains-config/info/devnet-amplifier.json
Owners: @axelarnetwork/chainintegrations

chore(releases): deploy solana-3 on devnet-amplifier
  solana/README.md
Owners: @axelarnetwork/chainintegrations

refactor
  stellar/deploy-contract/commands.js
Owners: @axelarnetwork/chainintegrations

update
  .github/workflows/test-stellar.yaml
  stellar/README.md
  stellar/docs/link-token.md
Owners: @axelarnetwork/chainintegrations

Update test-stellar.yaml
  .github/workflows/test-stellar.yaml
Owners: @axelarnetwork/chainintegrations

Update test-stellar.yaml
  .github/workflows/test-stellar.yaml
Owners: @axelarnetwork/chainintegrations

Update test-stellar.yaml
  .github/workflows/test-stellar.yaml
Owners: @axelarnetwork/chainintegrations

update
  .github/workflows/test-stellar.yaml
  stellar/deploy-contract/commands.js
Owners: @axelarnetwork/chainintegrations

Update test-stellar.yaml
  .github/workflows/test-stellar.yaml
Owners: @axelarnetwork/chainintegrations

Update test-stellar.yaml
  .github/workflows/test-stellar.yaml
Owners: @axelarnetwork/chainintegrations

Update commands.js
  stellar/deploy-contract/commands.js
Owners: @axelarnetwork/chainintegrations

Update commands.js
  stellar/deploy-contract/commands.js
Owners: @axelarnetwork/chainintegrations

fix(its): prevent role transfer to self (#232)
  helpers/role-management/src/processor.rs
  programs/axelar-solana-its/src/processor/interchain_token.rs
  programs/axelar-solana-its/src/processor/mod.rs
  programs/axelar-solana-its/src/processor/token_manager.rs
  programs/axelar-solana-its/tests/module/role_management.rs
Owners: @axelarnetwork/chainintegrations

fix(gateway): do not check PDA lamports (#231)
  programs/axelar-solana-gateway/src/processor/initialize_payload_verification_session.rs
  programs/axelar-solana-gateway/tests/integration/verify_signature.rs
Owners: @axelarnetwork/chainintegrations

Add a check to ensure the correct ata is passed for the token manager (#177)
  programs/axelar-solana-its/src/processor/token_manager.rs
Owners: @axelarnetwork/chainintegrations

chore: deploy remaining gmp contracts
  axelar-chains-config/info/devnet-amplifier.json
Owners: @axelarnetwork/chainintegrations

chore: add classic and legacy tokens
  axelar-chains-config/info/devnet-amplifier.json
Owners: @axelarnetwork/chainintegrations

chore: update for sui
  axelar-chains-config/info/devnet-amplifier.json
  package-lock.json
  package.json
  sui/deploy-contract.js
Owners: @axelarnetwork/chainintegrations, @axelarnetwork/security

chore: update snapshot
  package-lock.json
  package.json
Owners: @axelarnetwork/security

upgraded sui ITS contract
  axelar-chains-config/info/devnet-amplifier.json
Owners: @axelarnetwork/chainintegrations

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Default ownership
* @axelarnetwork/chainintegrations

# Chain-specific protocol code
./cosmwasm/* @axelarnetwork/protocol
./evm/* @axelarnetwork/protocol
./sui/* @axelarnetwork/protocol
./stellar/* @axelarnetwork/protocol

# SECURITY: Dependency management requires security team approval
# All dependency-related files require approval from security team
**/package.json @axelarnetwork/security
**/package-lock.json @axelarnetwork/security
# Rust dependencies
# **/Cargo.toml @axelarnetwork/security
# **/Cargo.lock @axelarnetwork/security
